*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: linear-gradient(rgba(14, 12, 12, 0.4), rgb(14, 12, 12, 0.4)), #556e53;
    /* background: linear-gradient(rgba(14, 12, 12, 0.4), rgb(14, 12, 12, 0.4)), url('/public/assets/close-up-woman-with-flowers-basket.jpg'); */
    background-size: cover;
    background-position: top;
    padding: 0 40px;
}
.nav-comp{
    width: 100%;
    padding-bottom: 18px;
}
.nav-comp .nav-links{
    align-items: flex-end;
}
.product-nav .nav-link{
    color: #fff;
}
.product-nav .nav-link:hover::after{
    background-color: #fff;
}
.shopping-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cart{
    color: #fff;
    font-size: 34px;
}
.cart-count{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    padding: 1px 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: 'poppins', 'sans serif';
}
.cart-count span{
    font-size: 8px;
    font-weight: 700;
    color: #fff;
}
.product-detail-container{
    padding: 20px;
}
.product-detail-content{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 2rem 0 2rem 2rem;
}
.product-full-img{
    width: 40%;
    background-color: #f3f3f3;
    padding: 20px;
}
.product-img{
    width: 100%;
}
.product-img img{
    width: 100%;
}
.product-full-detail{
    width: 60%;
    padding: 20px 0;
    font-family: 'poppins', 'sans serif';
}
.product-img-detail h1{
    color: #556e53;
}
.product-img-detail h6{
    margin-top: 30px;
}
.divider{
    /* display: none; */
    width: 100%;
    height: 1px;
    background-color: #d4d4d4;
}
.product-img-detail p{
    font-size: 14px;
    line-height: 22px;
    padding-right: 10%;
}
.buy-cart-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.buy-cart-btn button{
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease;
}
.buy-cart-btn button:hover{
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px;
}
.buy-btn{
    width: 40%;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: orange;
}
.cart-btn{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid gray;
    font-size: 13px;
}
.cart-btn-chevron{
    font-size: 18px;
    transform: translateX(0%);
    transition: .3s ease;
}
.cart-btn:hover .cart-btn-chevron{
    transform: translateX(50%) scale(1.2);
}