* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

.App-header {
    width: 80%;
    transition: .4s ease;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.is-sticky {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff75;
    z-index: 2;
    padding: 10px 30px;
    transition: .3s ease;
    backdrop-filter: blur(5px);
}

.is-sticky .contact-btn{
    background-color: #313b29;
    border: none;
}

.is-sticky .nav-link {
    color: var(--bs-link-hover-color-rgb);
}

.slider-img-container{
    overflow: hidden;
}

.slider-img-container .slick-list{
    position: relative !important;
}