*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: center;
    /* padding: 20px 20px; */
    /* border: solid; */
}
.navbar-content{
    width: 100%;
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.logo{
    width: 70px;
    /* margin: 0 40px; */
}
.logo.nav-link{
    padding-bottom: 0;
}
.logo.nav-link::after{
    display: none;
}
.logo img {
    width: 100%;
}
.nav-links{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    margin: 0;
    /* border: solid; */
}
.nav-link{
    padding-bottom: 4px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    /* color: #254336; */
    position: relative;
}
.nav-link::after{
    content: '';
    width: 0%;
    height: 4px;
    background-color: var(--nav-link-bg-color);
}
.nav-link:hover::after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .5s ease;
}
.contact-btn{
    padding: 8px 20px 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
}
.shopping-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #313b29;
    padding: 8px 6px 5px;
    border-radius: 20px;
}
.cart{
    color: #fff;
    font-size: 24px;
}
.cart-count{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    padding: 1px 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: 'poppins', 'sans serif';
}
.cart-count span{
    font-size: 8px;
    font-weight: 700;
    color: #fff;
}