*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-pg{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    font-family: "Syne", sans-serif;
}
.product-pg-content{
    display: flex;
    /* border: solid; */
}

.product-container{
    display: flex;
    flex-direction: column;
    margin-left: 116px;
    /* padding: 20px 20px 0; */
}